/* client/src/styles/SearchForm.css */
.search-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-select,
.search-input,
.search-button {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-select {
  flex: 1;
}

.search-input {
  flex: 3;
}

.search-button {
  background: rgb(184, 188, 255);
  background: linear-gradient(
    90deg,
    rgba(184, 188, 255, 1) 0%,
    rgba(230, 192, 255, 1) 100%
  );
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background: rgb(163, 168, 255);
  background: linear-gradient(
    90deg,
    rgba(163, 168, 255, 1) 0%,
    rgba(218, 164, 255, 1) 100%
  );  
}
